* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

.gallery {
  display: flex;
}

.img-section {
  background-image: url(.img/food-france-morning-breakfast-2135.jpg);
  height: 40rem;
  background-size: cover;
  background-position-y: -15rem;
  color: rgb(241, 237, 237);
  text-align: center;
  padding-top: 15rem;
  font-size: 4rem;
  text-shadow: 0 0 7px black, 0 0 7px black;
  border-bottom: solid 0.5px;
}

.img-sec {
  background-image: url(./img/food-france-morning-breakfast-2135.jpg);
}

.img-bottom {
  position: relative;
  top: 0;
  width: 100%;
  height: 12vh;
  background-color: #ffaa80;
  border-bottom: solid 0.5px;
  border-top: solid 0.5px;
}

.main-content {
  position: relative;
  top: 0;
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  height: 32rem;
  text-align: center;
}

.low {
  height: 43rem;
}

.main-content h1 {
  font-size: 3rem;
  margin: 1rem;
}

.bottom-main {
  height: 7rem;
}
.main-content p {
  font-size: 2rem;
}

.main-content-text {
  position: relative;
  width: 100%;
  top: 2rem;
  height: 80rem;
  margin-top: 5rem;
}

.column {
  column-count: 3;
  column-gap: 60px;
  column-rule-style: solid;
  margin-top: 2rem;
  text-align: left;
  column-rule-width: 0.5px;
}

.bottom-text {
  margin-top: 10rem;
}

.pos-rel {
  transform: translateY(-1px);
}

.color-1 {
  background-color: #ffbb99;
}

.color-2 {
  background-color: #ffccb3;
}

.bottom {
  background-color: #ffeee6;
  height: 9vh;
  border-top: solid black 0.5px;
  display: flex;
  align-items: center;
}

.bottom-center {
  flex: 1;
}

.bottom li {
  display: inline-block;
}

.social-button {
  padding: 10px;
  letter-spacing: 1px;
  margin: 10px;
}

.bottom a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.facebook {
  background-color: #657bac;
  width: 18rem;
}

.instagram {
  background-color: #eb5e7c;
  width: 18rem;
}

.social-text {
  width: 150px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 10px;
}

.right-text {
  padding-left: 10px;
  font-size: 12px;
}

.fa {
  width: 30px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #ff9966;
  border-bottom: black solid 0.5px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffccb3;
  color: black;
}

.topnav a.active {
  background-color: #686868;
  color: white;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 11px;
  margin-right: 16px;
  font-size: 17px;
}

div.gallery {
  margin: 10px;
  display: inline-flex;
}

div.gallery:hover {
  opacity: 80%;
}

.gallery-full {
  margin: 3rem;
}
